@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}

@pageColor: #524B6B;

body {
	height: 100vh;
	background: @pageColor;
	overflow: hidden;
}

.accord-row {
	.transition(ease-out);
	.transition-duration(.7s);
	height:auto;
}

.accord-button {
 	.transition(ease-in);
	.transition-duration(.7s);
	position: relative;
	height:auto;
}

.image {
    position:relative;
    &:after {
    	position:absolute;
    	opacity:0;	
    	content:"\A";
    	width:100%; height:100%;
	    top:0; left:0;
	    background: rgba(0,0,0,.5);
	    overflow: hidden;
    }
    &:before{
    	position:absolute;
    	opacity:0;
    }
    &:hover:after{
    	 opacity:1;
    }
}


.image-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
	top: 0%;
	opacity: 0;
	color: white;

	.transition(ease-out);
	.transition-duration(.5s);

	background: rgba(0,0,0,.5);
	&:hover{
		opacity: 1;
	}
	&:focus{
		opacity: 1;	
	}
}

.image-title{
	position: relative;
	top: 40%;
}

.image-subtitle{
	position: relative;
	top: 40%;
}

.image-class {
	width: 100%;	
	height: 100%;
	position: relative;
}


.accord-cont {
	height:auto;
}

.tab-info-bar{
	height:0px;
	width:100%;
	color: white;
	overflow: hidden;
	.transition(ease-out);
	.transition-duration(.7s);
}

.info-bar{
	height:0px;
	overflow: hidden;
	.transition(ease-out);
	.transition-duration(.7s);
}

.header-space {
	height:5%;
}

.infobar-section{
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
	height: ~"calc(100% - 30px)";
	top: 15px;
	position: relative;
	color: white;
}

.full-height{
	height:100%;
}

.infobar-transition{
	.transition(ease-in);
	.transition-duration(.5s);
}

.img-content {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
	padding-right: 0px;
}


.no-gutter{
	padding-left: 0px;
	padding-right: 0px;
}


.info-content {
	overflow:auto;
	height: 90px;
	position: relative;
}

