<!DOCTYPE html>
<html ng-app="AkkApp">
<head>
  <title>DemoApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Angular Portfolio Sample">
	<meta charset="utf-8">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href="app.less" type="text/css" rel="stylesheet/less">
  <link rel="stylesheet" href="animate.min.css">
    
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <!-- Add New Bower Component JS Above -->


  <!-- Main App JS -->
  <script src="app.js"></script>
  <!-- Add New Component JS Above -->
  <!-- <div class="animated  bounce">hi there</div> -->
  <div class="header-space"></div>
  <div  ng-controller="AccCtrl">
    <accord-container id="content" class="container">
      <accord-row infobar-id="infobar-1" content="infobar_1" >
            <accord-button photo-src="images/images_12_700.png" title="Title - 1" subtitle="Subtitle - 1">Lorem ipsum dolor sit amet, per utamur volumus partiendo ei, solum rebum tacimates nec cu. Ei mutat simul singulis cum. Ea liber harum his, has te etiam mnesarchum. Et elitr vocibus cum, quo epicuri delicatissimi id, sit ut unum imperdiet. Vix ei audiam complectitur, in his utinam aliquip incorrupte. Pro vidit alienum commune at.</accord-button>
            <accord-button photo-src="images/images_4_700.png" title="Title - 2" subtitle="Subtitle - 2">Lorem ipsum dolor sit amet, ornare augue est aenean, scelerisque nibh laoreet. Qui auctor, curae ut. Pede eget dignissim augue, mauris tellus molestiae sed suscipit, duis morbi varius dapibus pellentesque eget. Maecenas aut libero a et ac sollicitudin, nunc a. Dui nec sit quam consequat condimentum elit.</accord-button>
            <accord-button photo-src="images/images_11_700.png" title="Title - 3" subtitle="Subtitle - 3">Mauris mauris. Aut libero purus lectus, varius turpis non viverra consequat, curabitur eget eleifend lorem porttitor augue. Vitae pede wisi nec urna. Suspendisse eget. Morbi dui ullamco felis cum, tempor tempor nullam nulla donec quis litora.</accord-button>
            <accord-button photo-src="images/images_13_700.png" title="Title - 4" subtitle="Subtitle - 4">Dignissim porta morbi, et in suspendisse ipsum natoque id. Quisque mauris nulla nisl felis viverra, ipsum magnis enim elit lacus ornare nonummy, mi in tellus enim aenean dui ame</accord-button>
      </accord-row>
      <infobar id="infobar-1" >{{infobar_1}}</infobar>
      <accord-row infobar-id="infobar-2" content="infobar_2" >
            <accord-button photo-src="images/images_5_700.png" title="Title - 5" subtitle="Subtitle - 5">Lorem ipsum dolor sit amet, per utamur volumus partiendo ei, solum rebum tacimates nec cu. Ei mutat simul singulis cum. Ea liber harum his, has te etiam mnesarchum. Et elitr vocibus cum, quo epicuri delicatissimi id, sit ut unum imperdiet. Vix ei audiam complectitur, in his utinam aliquip incorrupte. Pro vidit alienum commune at.</accord-button>
            <accord-button photo-src="images/images_6_700.png" title="Title - 6" subtitle="Subtitle - 6">Lorem ipsum dolor sit amet, ornare augue est aenean, scelerisque nibh laoreet. Qui auctor, curae ut. Pede eget dignissim augue, mauris tellus molestiae sed suscipit, duis morbi varius dapibus pellentesque eget. Maecenas aut libero a et ac sollicitudin, nunc a. Dui nec sit quam consequat condimentum elit.</accord-button>
            <accord-button photo-src="images/images_10_700.png" title="Title - 7" subtitle="Subtitle - 7">Mauris mauris. Aut libero purus lectus, varius turpis non viverra consequat, curabitur eget eleifend lorem porttitor augue. Vitae pede wisi nec urna. Suspendisse eget. Morbi dui ullamco felis cum, tempor tempor nullam nulla donec quis litora.</accord-button>
            <accord-button photo-src="images/images_7_700.png" title="Title - 8" subtitle="Subtitle - 8">Mauris mauris. Aut libero purus lectus, varius turpis non viverra consequat, curabitur eget eleifend lorem porttitor augue. Vitae pede wisi nec urna. Suspendisse eget. Morbi dui ullamco felis cum, tempor tempor nullam nulla donec quis litora.</accord-button>
      </accord-row>
      <infobar id="infobar-2" >{{infobar_2}}</infobar>
      <accord-row infobar-id="infobar-3" content="infobar_3" >
            <accord-button photo-src="images/images_2_700.png" title="Title - 9 " subtitle="Subtitle - 9">Lorem ipsum dolor sit amet, per utamur volumus partiendo ei, solum rebum tacimates nec cu. Ei mutat simul singulis cum. Ea liber harum his, has te etiam mnesarchum. Et elitr vocibus cum, quo epicuri delicatissimi id, sit ut unum imperdiet. Vix ei audiam complectitur, in his utinam aliquip incorrupte. Pro vidit alienum commune at.</accord-button>
            <accord-button photo-src="images/images_4_700.png" title="Title - 10" subtitle="Subtitle - 10">Lorem ipsum dolor sit amet, ornare augue est aenean, scelerisque nibh laoreet. Qui auctor, curae ut. Pede eget dignissim augue, mauris tellus molestiae sed suscipit, duis morbi varius dapibus pellentesque eget. Maecenas aut libero a et ac sollicitudin, nunc a. Dui nec sit quam consequat condimentum elit.</accord-button>
            <accord-button photo-src="images/images_11_700.png" title="Title - 11" subtitle="Subtitle - 11">Dignissim porta morbi, et in suspendisse ipsum natoque id. Quisque mauris nulla nisl felis viverra, ipsum magnis enim elit lacus ornare nonummy, mi in tellus enim aenean dui ame</accord-button>
            <accord-button photo-src="images/images_9_700.png" title="Title - 12" subtitle="Subtitle - 12">Mauris mauris. Aut libero purus lectus, varius turpis non viverra consequat, curabitur eget eleifend lorem porttitor augue. Vitae pede wisi nec urna. Suspendisse eget. Morbi dui ullamco felis cum, tempor tempor nullam nulla donec quis litora</accord-button>
      </accord-row>
      <infobar id="infobar-3" >{{infobar_3}}</infobar>
      <accord-row infobar-id="infobar-4" content="infobar_4" >
            <accord-button photo-src="images/images_7_700.png" title="Title - 13" subtitle="Subtitle - 13">Mauris mauris. Aut libero purus lectus, varius turpis non viverra consequat, curabitur eget eleifend lorem porttitor augue. Vitae pede wisi nec urna. Suspendisse eget. Morbi dui ullamco felis cum, tempor tempor nullam nulla donec quis litora.</accord-button>
            <accord-button photo-src="images/images_6_700.png" title="Title - 14" subtitle="Subtitle - 14">Lorem ipsum dolor sit amet, ornare augue est aenean, scelerisque nibh laoreet. Qui auctor, curae ut. Pede eget dignissim augue, mauris tellus molestiae sed suscipit, duis morbi varius dapibus pellentesque eget. Maecenas aut libero a et ac sollicitudin, nunc a. Dui nec sit quam consequat condimentum elit.</accord-button>
            <accord-button photo-src="images/images_10_700.png" title="Title - 15" subtitle="Subtitle - 15">Dignissim porta morbi, et in suspendisse ipsum natoque id. Quisque mauris nulla nisl felis viverra, ipsum magnis enim elit lacus ornare nonummy, mi in tellus enim aenean dui ame</accord-button>
            <accord-button photo-src="images/images_5_700.png" title="Title - 16" subtitle="Subtitle - 16">Lorem ipsum dolor sit amet, per utamur volumus partiendo ei, solum rebum tacimates nec cu. Ei mutat simul singulis cum. Ea liber harum his, has te etiam mnesarchum. Et elitr vocibus cum, quo epicuri delicatissimi id, sit ut unum imperdiet. Vix ei audiam complectitur, in his utinam aliquip incorrupte. Pro vidit alienum commune at.</accord-button>
      </accord-row>
      <infobar id="infobar-4" >{{infobar_4}}</infobar>
    </accord-container>

  </div>

</body>
</html>
