

.accord-row {
	-webkit-transition: all .7s ease-in;
	-moz-transition: all .7s ease-in;
	-o-transition: all .7s ease-in;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
	height:auto;
	background: white;
}

/*.accord-row:hover {
	height:45;
}*/

.accord-button {
     height:auto;
    -webkit-transition: all .7s ease-in;
	-moz-transition: all .7s ease-in;
	-o-transition: all .7s ease-in;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
	position: relative;
}

/*
.image {
    position:relative;
}

.image:after, .image:before {
    position:absolute;
    opacity:0;
  
    -webkit-transition: all 0.5s;
}

.image:after {
    content:"\A";
    width:100%; height:100%;
    top:0; left:0;
    background: rgba(0,0,0,.5);
    overflow: hidden;
}
*/

/*.image:before {
   
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    line-height:200px;

}*/

/*.image:hover:after {
    opacity:1;
}

.image-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
	top: 0%;
	opacity: 0;
	color: white;

	-webkit-transition: all .7s ease-in;
	-moz-transition: all .7s ease-in;
	-o-transition: all .7s ease-in;
	-ms-transition: all .7s ease;
	transition: all .7s ease;

	background: rgba(0,0,0,.5);
}

.image-overlay:hover,.image-overlay:focus{
	opacity: 1;
}

.image-title{
	position: relative;
	top: 40%;
}

.image-subtitle{
	position: relative;
	top: 40%;
}*/



/*.image-subtitle{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
	top: 55%;
	opacity: 0;
	color: white;
}

.image-subtitle:hover{
	opacity: 1;
}*/


/*.image-class {
	width: 100%;	
	height: 100%;
	position: relative;
}


.image-cont{
	background: url(images/images_3_700.png) no-repeat;
	height: 100px;
	width: 200px;
	background-image: url("images/images_3_700.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.accord-cont {
	height:auto;
}

.tab-info-bar{
	height:0px;
	width:100%;
	color: white;
	overflow: hidden;
	-webkit-transition: all .7s ease-in;
	-moz-transition: all .7s ease-in;
	-o-transition: all .7s ease-in;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
}*/

/*.info-bar{
	height:0px;

	overflow: hidden;
	-webkit-transition: all .7s ease-in;
	-moz-transition: all .7s ease-in;
	-o-transition: all .7s ease-in;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
}

.header-space {
	height:5%;
}

.infobar-section{
	
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
	height: calc(100% - 30px);
	top: 15px;
	position: relative;
	color: white;
}

.full-height{
	height:100%;
}

.infobar-transition{
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
*/
/*.no-gutter{
	padding-left: 0px;
	padding-right: 0px;
}


.info-content {
	overflow:auto;
	height: 90px;
	position: relative;
}*/

/*.img-content {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
	padding-right: 0px;
}*/



.filter-effect {
 
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
	top: 0px;
	opacity: 0;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}



.filter-effect:hover{
		opacity: .6;

}


/*.filter-effect {
 
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
	top: 0px;
	opacity: 0;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}*/



/*

body{
	height: 100vh;
	background: #524b6b;
	overflow: hidden;
}*/